<div class="col-md-6  offset-md-3">
    <h2 >Add Employee</h2>
    
<form (ngSubmit) = "onSubmit()">
    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Name</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Name of employee" name="name" [(ngModel)]="employee.name">
      </div>
      <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Cost</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Email of employee" [(ngModel)]="employee.email" name="cost">
      </div>
    <button type="submit">Submit</button>
</form>
</div>
